body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .footer{
  margin: 0.2rem 0.4rem;
} */

label {
  margin-bottom: 0.3rem;
  font-weight: bold;
  font-size: 1.05rem;
  color: #112827;
}
input,
textarea,select {
  background-color: #f1f1f1;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-bottom: 0.8rem;
  color: #383838;
  font-weight: 500;
}

.page[size="A4"] {
  width: 18cm;
  height: 29.7cm;
  overflow: hidden;
}

.page {
  background-color: white;
  display: block;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 0px 34px -13px rgba(0, 0, 0, 0.75);
}

@page {
  @bottom-right-corner {
    counter-increment: page;
    content: "Page " counter(page);
  }
}
